<h2>Add Article</h2>
<p>Create an article below.</p>
<form action="/addbook" method="post">
  <div class="form-group">
    <label for="exampleInputTitle1">Title</label>
    <input name="title" type="text" class="form-control" id="exampleInputTitle1" placeholder="Article Title">
    <br>
    <label for="exampleInputTitle2">Image</label>
    <input name="image" type="text" class="form-control" id="exampleInputTitle2" placeholder="Article Image">
    <br>
    <label for="exampleInputTitle3">Summary</label>
    <input name="summary" type="text" class="form-control" id="exampleInputTitle3" placeholder="Article Summary">
    <br>
   {{!--  <label for="exampleInputTitle4">Descrption</label>
    <input name="Descrption" type="text" class="form-control" id="exampleInputTitle4" placeholder="Article Descrption">
  </div> --}}
  <button type="submit" class="btn btn-inverse btn-lg">Add Article</button>
</form>